/* estilos de peluqueria */

.inactive {
    display: none;
}

.peluqueria-container {
    background-image: url(../img/fondo-main.webp);
    width: 100%;
    height: auto;
    text-align: center;
}

.peluqueria-section {
    padding: 15px;
}

.peluqueria-section h3 {
    padding: 15px 0px;
    color: var(--color-letter);
}

.fondo-tarjeta-cita {
    display: flex;
    background-image: url(../img/body-fondo-2.webp);
    place-content: center;
    border-radius: 20px;
}

.peluqueria-tarjeta {
    width: 100%;
    display: flex;
    justify-content:space-around;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgb(159, 151, 151);
    background-image: radial-gradient(circle, #fffcfc, #f5f3f3, #eceaea, #e2e1e1, #d9d8d8, #d9d8d8, #d9d7d7, #d9d7d7, #e2dfdf, #eae8e8, #f3f0f0, #fcf9f9);
    place-items: center;
    opacity: 85%;
}

.direccion-cita p:nth-child(1) {
    font-weight: 600;
}

.direccion-cita p {
    font-size: var(--size-small);
    filter: drop-shadow(3px 3px 3px rgb(104, 101, 101));
}

.agendar {
    width: 30%;
}

.ducha-caninos img {
    width: 100%;
    filter: drop-shadow(10px 10px 10px grey);
}

.btn-agendar-cita {
    height: 35px;
    width: 90px;
    border-style: none;
    border-radius: 40px;
    margin: 6px 14px;
    box-shadow: 4px 4px 4px rgb(124, 122, 101);
    background-color: #b8b8b9;
    color:#8d2610 ;
    font-weight: 700;
    cursor: pointer;
}

.oferta-peluqueria {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right top, #e5ddc5, #e7e0c9, #e9e4cd, #ece7d2, #eeead6, #e9ead7, #e4ead8, #e0ead9, #d4e6d9, #cae2da, #c3dddc, #bed7dc);
    opacity: 60%;
    text-align: center;
}

.span-peluqueria {
    color: #cd5810;
    font-weight: 700;
    font-size: var(--size-big)
}

.container-servicio-peluqueria {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0px 35px 0px;
}

.article-peluqueria h3 {
    padding: 10px 0px;
    color: var(--color-letter);
}

.aside-peluqueria {
    display: flex;
    padding: 15px 0px 0px;
}

.aside-peluqueria li {
    list-style: none;
}

.img-peluqueria {
    width: 100%;
}

.peluqueria-observaciones {
    width: 100%;
    height: auto;
    padding: 0px 35px 20px 35px;
    text-align: center;
}

.peluqueria-observaciones h3 {
    color: var(--color-letter);
    padding-bottom: 15px;
}

.img-requerimientos {
    width: 100%;
    filter: drop-shadow(20px 20px 20px rgb(21, 21, 21));
}

 /* mediaquery de peluqueria */

 @media(min-width: 765px) {
    .btn-agendar-cita {
        width: 110px;
        height: 50px;
    }
}

@media(min-width: 819px) {
    .btn-agendar-cita {
        width: 130px;
        height: 60px;
    }
}

@media(min-width: 1023px) {
    .btn-agendar-cita {
        width: 150px;
        height: 65px;
    }
}

@media(min-width: 1270px) {
    .btn-agendar-cita {
        width: 160px;
        height: 75px;
    }
}