/* estilos productos dog */

.card-container-dog {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 25px 15px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,140px);
    place-content: center;
    
  }
  
  /* estilos productos cat */
  
  .card-container-cat {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 25px 15px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,140px);
    place-content: center;
    
  }
  
  /* estilos productos de navegacion */
  
  .productos-navegacion {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 25px 15px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,140px);
    place-content: center;
    background-image: url(../img/fondo-main.webp);
    
  }
  
  /* respuesta si no hay stock  */
  
  .container-stock {
    width: 90vw;
    

  }
  .titulo-stockFail {
    color: var(--color-letter);
    font-weight: 700;
    
  }
  .sub-stockFail {
    color: #b42707;
    font-weight: 600;
    line-height: 2;
    filter: drop-shadow(10px 10px 10px rgb(10, 10, 10));
  }
  .parrafo-stockFail {
    color: var(--color-letter);
    font-weight: bold;
    padding: 10px 0px 15px 0px;
  }
  .enumeracion-1-fail {
    color: var(--color-letter);
    font-weight: bold;
  }
  .enumeracion-2-fail {
    color: var(--color-letter);
    font-weight: bold;
  }
  .enumeracion-3-fail {
    color: var(--color-letter);
    font-weight: bold;
  }
  .post-data-stock-fail {
    color: var(--color-letter);
    font-weight: bold;
  }
  
  /* estilos generales de todos los productos */
  
  .inactive {
      display:none;
  }
  
  .productos-card { 
      background-image: url(../img/fondo-main.webp);
      box-shadow: 1px 2px 2px 1px rgb(88, 103, 88);
      border-radius: 20px;
  }
  
  .productos-card img {
      width: 100%;
      filter: drop-shadow( 5px 5px 5px rgb(5, 5, 5));
  }
  
  .productos-p {
      color: var(--color-letter);
      font-size: var(--size-small-xs);
      font-weight: 700;
  }
  
  .informacion-card {
      
      font-size: var(--size-small-xs);
      color: var(--color-black);
      text-align: center;
  }
  
  .informacion-p-1 {
      color: var(--color-black);
      font-size: var(--size-small-xs);
  }
  
  .informacion-p-2 p {
      color: var(--color-letter);
      font-size: var(--size-small-xs);
      font-weight: 700;
  }
  
  .button-card {
      border-style: none;
      background: none;
      border-radius: 40px;
      margin: 6px 14px;
      box-shadow: 2px 2px 2px 2px rgb(143, 135, 39);
      color:#8d2610 ;
      font-weight: 700;
  }

  /* responsive de fail-stock-search */

  @media(min-width: 340px) {
    .container-stock {
      width: 90vw;
    }
  }

  @media(min-width: 350px) {
    .container-stock {
      width: 80vw;
    }
  }

  @media(min-width: 410px) {
    .container-stock {
      width: 75vw;
    }
  }

  @media(min-width: 539px) {
    .container-stock {
      width: 90vw;
    }
  }
  @media(min-width: 767px) {
    .container-stock {
      width: 85vw;
      
    }
  }
  @media(min-width: 819px) {
    .container-stock {
      width: 85vw;
    }
  }
  @media(min-width: 850px) {
    .container-stock {
      width: 100vw;
    }
  }
  @media(min-width: 910px) {
    .container-stock {
      width: 95vw;
    }
  }
  @media(min-width: 1022px) {
    .container-stock {
      width: 100vw;
    }
  }
  @media(min-width: 1075px) {
    .container-stock {
      width: 90vw;
    }
  }