/* estilos de termino del servicio */

.termino-servicio-container {
    width: 100%;
    height: auto;
    background-image: url(../img/fondo-main.webp);
}

.termino-menu {
    padding: 40px;
    text-align: center;
    
}

.termino-h3 {
    color: var(--color-letter);
}

.inactive {
    display: none;
}

.btn-servicio {
    cursor: pointer;
}